* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

/*
font-family: 'Inter', sans-serif;
font-family: 'Rubik', sans-serif;
*/

body {
  background-color: #000;
  color: #fff;
}
#h1 {
  font-family: 'Inter', sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 40px;
}
.texts {
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
}
.inputs {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 300px;
  height: 35px;
  border-radius: 8px;
  font-size: 18px;
  color: #111;
  font-family: 'Inter', sans-serif;
}
.buttons {
  width: 180px;
  height: 30px;
  border-radius: 8px;
  font-family: 'Rubik', sans-serif;
  transition: 0.2s;
  cursor: pointer;
}
.area {
  display: flex;
  justify-content: center;
}

#gameBoard {
  background-color: #232323;
  display: grid;
  grid-template-columns: 96px 96px 96px;
  grid-template-rows: 96px 96px 96px;
  gap: 10px;
  max-width: 304px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#gameBoard span {
  font-family: 'Rubik';
  color: #000;
  background-color: #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.cursor {
  cursor: pointer;
}
.disable {
  cursor: auto;
}
#gameBoard span.win {
  background-color: #5F5;
  font-size: 60px;
  animation-name: lettersAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes lettersAnimation {
  0% {font-size: 60px;}
  25% {font-size: 70px;}
  50% {font-size: 80px;}
  75% {font-size: 70px;}
  100% {font-size: 60px;}
}
.winner {
  color: #5F5;
  font-size: 35px;
  animation-name: winnerAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes winnerAnimation {
  0% {font-size: 35px;}
  25% {font-size: 40px;}
  50% {font-size: 45px;}
  75% {font-size: 40px;}
  100% {font-size: 35px;}
}
.draw {
  color: #FE5;
  font-size: 35px;
}
.playAgain{
  background-color: #F05;
  color: #DDD;
  border-color: unset;
  width: 250px;
  height: 45px;
  transition: 0.5s;
}